### UNIFYING DATAFRAMES FROM DIFFERENT SOURCES

concat clean df from inmuebles24.com and lamundi.com which contain different data from real state adds
we have droped several columns due to unmatching variables
the selected columns are the minimum necessary to run a model

In [1]:
import pandas as pd
import numpy as np

In [2]:
inmb24_dat = pd.read_csv('../00_scrap_inmuebles24/00_inmuebles24_data_processed.csv', sep='|')

inmb24_dat['categoria'] = 'departamento'
inmb24_dat= inmb24_dat[['precio_m2',  'superficie_total', 'categoria',
                        'dormitorios', 'baños', 'cocheras',
                       'colonia', 'alcaldia', 'lat', 'lng']]
inmb24_dat = inmb24_dat.dropna()

inmb24_dat

,precio_m2,superficie_total,categoria,dormitorios,baños,cocheras,colonia,alcaldia,lat,lng
5,60144.927536,138.0,departamento,2.0,3.0,2.0,Polanco,Miguel Hidalgo,19.437734,-99.192631
6,1333.333333,900.0,departamento,3.0,3.0,3.0,Bosque de las Lomas,Miguel Hidalgo,19.398926,-99.247449
7,46308.724832,298.0,departamento,3.0,3.0,3.0,Bosques de las Lomas,Cuajimalpa de Morelos,19.385515,-99.253330
9,36875.000000,160.0,departamento,3.0,2.0,2.0,Los Cipreses,Coyoacán,19.318965,-99.126558
10,66573.033708,178.0,departamento,3.0,2.0,2.0,Polanco,Miguel Hidalgo,19.437976,-99.212773
...,...,...,...,...,...,...,...,...,...,...
4351,60382.165605,157.0,departamento,2.0,3.0,2.0,Del Valle Centro,Benito Juárez,19.383458,-99.169135
4352,30000.000000,65.0,departamento,2.0,1.0,1.0,Ejidos de San Pedro Mártir,Tlalpan,19.273940,-99.156188
4353,1700.000000,5000.0,departamento,2.0,2.0,2.0,Hipódromo Condesa,Cuauhtémoc,19.410076,-99.181467
4354,48387.096774,155.0,departamento,3.0,2.0,2.0,Paseo de las Lomas,Alvaro Obregón,19.369385,-99.267003
4355,55000.000000,140.0,departamento,2.0,2.0,2.0,Los Alpes,Alvaro Obregón,19.360076,-99.189510

In [12]:
lamundi_dat = pd.read_csv('../00_scrap_lamundi/00_Lamudi_houses_sale.csv')
lamundi_dat = lamundi_dat.reset_index(drop=True).iloc[:,1:]
lamundi_dat['price']= pd.to_numeric(lamundi_dat['price'], errors='coerce')
lamundi_dat['land_size']= pd.to_numeric(lamundi_dat['land_size'], errors='coerce')

lamundi_dat['precio_m2'] = lamundi_dat['price'] / lamundi_dat['land_size']

lamundi_dat= lamundi_dat.rename(columns={'category':'categoria',
                                         'land_size' :'superficie_total', 
                                        'car_spaces': 'cocheras', 
                                        'bedrooms': 'dormitorios', 
                                        'bathrooms': 'baños'})

lamundi_dat['cocheras'] = pd.to_numeric(lamundi_dat['cocheras'], errors='coerce')
lamundi_dat['dormitorios']= pd.to_numeric(lamundi_dat['dormitorios'], errors='coerce')
lamundi_dat['baños']= pd.to_numeric(lamundi_dat['baños'], errors='coerce')

lamundi_dat['colonia'] = np.nan
lamundi_dat['alcaldia'] = np.nan
lamundi_dat['lng'] = [pd.to_numeric(lamundi_dat['location'][i].split(',')[0].replace('[', '')) for i in range(0, len(lamundi_dat))]
lamundi_dat['lat'] = [pd.to_numeric(lamundi_dat['location'][i].split(',')[1].replace(']', '')) for i in range(0, len(lamundi_dat))]
lamundi_dat = lamundi_dat[['precio_m2',  'superficie_total', 'categoria',
                           'dormitorios', 'baños', 'cocheras',
                           'colonia', 'alcaldia', 'lat', 'lng']]
lamundi_dat.count()

precio_m2           2968
superficie_total    2968
categoria           2970
dormitorios         2943
baños               2943
cocheras            2915
colonia                0
alcaldia               0
lat                 2970
lng                 2970
dtype: int64

In [16]:
lamundi_dat2 = pd.read_csv('../00_scrap_lamundi/00_lamudi_departments_sale.csv')

lamundi_dat2 = lamundi_dat2.reset_index(drop=True).iloc[:,1:]
lamundi_dat2['price']= pd.to_numeric(lamundi_dat2['price'], errors='coerce')
lamundi_dat2['land_size']= pd.to_numeric(lamundi_dat2['building_size'], errors='coerce')

lamundi_dat2['precio_m2'] = lamundi_dat2['price'] / lamundi_dat2['land_size']

lamundi_dat2= lamundi_dat2.rename(columns={'category':'categoria',
                                         'land_size' :'superficie_total', 
                                        'car_spaces': 'cocheras', 
                                        'bedrooms': 'dormitorios', 
                                        'bathrooms': 'baños'})

lamundi_dat2['cocheras'] = pd.to_numeric(lamundi_dat2['cocheras'], errors='coerce')
lamundi_dat2['dormitorios']= pd.to_numeric(lamundi_dat2['dormitorios'], errors='coerce')
lamundi_dat2['baños']= pd.to_numeric(lamundi_dat2['baños'], errors='coerce')

lamundi_dat2['colonia'] = np.nan
lamundi_dat2['alcaldia'] = np.nan
lamundi_dat2['lng'] = [pd.to_numeric(lamundi_dat2['coordinates'][i].split(',')[0].replace('[', '')) for i in range(0, len(lamundi_dat2))]
lamundi_dat2['lat'] = [pd.to_numeric(lamundi_dat2['coordinates'][i].split(',')[1].replace(']', '')) for i in range(0, len(lamundi_dat2))]
lamundi_dat2 = lamundi_dat2[['precio_m2',  'superficie_total', 'categoria',
                           'dormitorios', 'baños', 'cocheras',
                           'colonia', 'alcaldia', 'lat', 'lng']]
lamundi_dat2.count()

precio_m2           3000
superficie_total    3000
categoria           3000
dormitorios         2994
baños               2991
cocheras            2938
colonia                0
alcaldia               0
lat                 3000
lng                 3000
dtype: int64

In [17]:
dat = inmb24_dat.append(lamundi_dat, ignore_index=True)
dat

,precio_m2,superficie_total,categoria,dormitorios,baños,cocheras,colonia,alcaldia,lat,lng
0,60144.927536,138.0,departamento,2.0,3.0,2.0,Polanco,Miguel Hidalgo,19.437734,-99.192631
1,1333.333333,900.0,departamento,3.0,3.0,3.0,Bosque de las Lomas,Miguel Hidalgo,19.398926,-99.247449
2,46308.724832,298.0,departamento,3.0,3.0,3.0,Bosques de las Lomas,Cuajimalpa de Morelos,19.385515,-99.253330
3,36875.000000,160.0,departamento,3.0,2.0,2.0,Los Cipreses,Coyoacán,19.318965,-99.126558
4,66573.033708,178.0,departamento,3.0,2.0,2.0,Polanco,Miguel Hidalgo,19.437976,-99.212773
...,...,...,...,...,...,...,...,...,...,...
6423,21482.729570,1187.0,casa,3.0,3.0,8.0,NaN,NaN,19.319863,-99.199343
6424,22272.727273,1100.0,casa,3.0,3.0,6.0,NaN,NaN,19.330745,-99.202686
6425,4821.428571,560.0,casa,4.0,4.0,6.0,NaN,NaN,19.350011,-99.266561
6426,12406.250000,160.0,casa,3.0,2.0,2.0,NaN,NaN,19.427220,-99.110260
6427,43130.434783,575.0,casa,4.0,2.0,1.0,NaN,NaN,19.382090,-99.267280

In [18]:
data_total = dat.append(lamundi_dat2, ignore_index=True)
data_total.count()

precio_m2           9426
superficie_total    9426
categoria           9428
dormitorios         9395
baños               9392
cocheras            9311
colonia             3458
alcaldia            3458
lat                 9428
lng                 9428
dtype: int64

In [19]:
data_total.to_csv('01_data_total_unified.csv')